<template>
  <div class="stepper">
    <div v-for="n in 4">
      <div class="stepper-left">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="stepper-icon text-teal">
          <path d="M13.7523 10.6656C13.7004 10.6031 13.6495 10.5406 13.5995 10.4803C12.912 9.64874 12.4961 9.14686 12.4961 6.7928C12.4961 5.57405 12.2045 4.57405 11.6298 3.82405C11.2061 3.26999 10.6333 2.84968 9.87826 2.53905C9.86855 2.53365 9.85987 2.52656 9.85264 2.51812C9.58108 1.60874 8.83795 0.99968 7.99983 0.99968C7.1617 0.99968 6.41889 1.60874 6.14733 2.51718C6.14008 2.52531 6.13152 2.53218 6.12201 2.53749C4.36014 3.2628 3.50389 4.65437 3.50389 6.79187C3.50389 9.14686 3.08858 9.64874 2.40045 10.4794C2.35045 10.5397 2.29952 10.6009 2.24764 10.6647C2.11364 10.8263 2.02874 11.0229 2.00299 11.2312C1.97724 11.4396 2.01171 11.6509 2.10233 11.8403C2.29514 12.2466 2.70608 12.4987 3.17514 12.4987H12.828C13.2948 12.4987 13.7029 12.2469 13.8964 11.8425C13.9874 11.6531 14.0222 11.4415 13.9967 11.233C13.9711 11.0244 13.8863 10.8275 13.7523 10.6656Z"/>
          <path d="M7.99974 15C8.45131 14.9996 8.89437 14.877 9.28192 14.6452C9.66946 14.4134 9.98705 14.0811 10.201 13.6834C10.2111 13.6643 10.216 13.643 10.2154 13.6215C10.2148 13.5999 10.2087 13.5789 10.1975 13.5604C10.1864 13.5419 10.1707 13.5267 10.1519 13.5161C10.1331 13.5055 10.1119 13.4999 10.0904 13.5H5.90974C5.88815 13.4999 5.86692 13.5054 5.8481 13.516C5.82927 13.5265 5.81351 13.5418 5.80234 13.5603C5.79117 13.5787 5.78497 13.5998 5.78435 13.6214C5.78373 13.6429 5.78871 13.6643 5.7988 13.6834C6.01272 14.081 6.33026 14.4134 6.71774 14.6451C7.10523 14.8769 7.54822 14.9995 7.99974 15Z"/>
        </svg>
      </div>
      <div class="stepper-right">
        <p class="text-gray-700 font-bold text-sm mb-2">$2400, Design changes</p>
        <p class="text-gray-400 font-bold text-xs">22 DEC 7:20 PM</p>
      </div>
    </div>
  </div>
</template>
