<template>
  <table class="table mt-4">
    <thead>
    <tr>
      <th scope="col">Companies</th>
      <th scope="col">Members</th>
      <th scope="col">Budget</th>
      <th scope="col">Completion</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="n in 4">
      <td>
        <div class="flex items-center">
          <img src="../../assets/dashboard/spotify.png" alt="Spotify" class="table-icon mr-4">
          <span>Launch our Mobile App</span>
        </div>
      </td>
      <td>
        <div class="stacked-avatar">
          <img src="../../assets/dashboard/user-1.jpg" alt="">
          <img src="../../assets/dashboard/user-1.jpg" alt="">
          <img src="../../assets/dashboard/user-1.jpg" alt="">
          <img src="../../assets/dashboard/user-1.jpg" alt="">
        </div>
      </td>
      <td>
        <span>$14,000</span>
      </td>
      <td class="pr-5">
        <span class="text-teal">60%</span>
        <div class="progress">
          <div style="width: 60%"></div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "ProjectTable"
}
</script>

<style scoped>

</style>
