<script setup>
import {ref} from "vue";

const props = defineProps({
  href: {
    type: String
  },
  to: {
    type: String
  },
})

const component = ref("button")
if (props.href) component.value = 'a'
else if (props.to) component.value = 'RouterLink'
</script>

<template>
  <component :is="component" :to="to" :href="href" class="dropdown-item">
    <slot></slot>
  </component>
</template>
