<script setup>
import {ref} from "vue";

const props = defineProps({
  position: {
    type: String,
    default: 'bottom-left'
  }
})

let isActive = ref(false)
const toggleDropdown = () => {
  isActive.value = !isActive.value
}

const onClickOutside = () => {
  isActive.value = false
}
</script>

<template>
  <div class="relative" v-click-outside="onClickOutside">
    <templates @click="toggleDropdown">
      <slot name="trigger" :active="isActive"/>
    </templates>
    <div class="dropdown-menu"
         :class="{
            'bottom-left': props.position === 'bottom-left',
            'bottom-right': props.position === 'bottom-right',
            'top-left': props.position === 'top-left',
            'top-right': props.position === 'top-right',
         }"
         v-show="isActive">
      <div class="py-1 text-sm text-gray-700">
        <slot/>
      </div>
    </div>
  </div>
</template>
