<template>
  <header class="flex items-start w-full">
    <div class="flex flex-col">
      <nav class="flex mb-2" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-gray-900">
              Pages
            </a>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <span class="text-gray-700">/</span>
              <span class="ml-1 text-sm font-medium text-gray-700 md:ml-2">Dashboard</span>
            </div>
          </li>
        </ol>
      </nav>
      <span class="font-bold text-gray-700">Dashboard</span>
    </div>

    <div class="flex items-center ml-auto gap-2.5">
      <form class="ml-auto">
        <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Your Email</label>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
          <input type="search" id="search" class="block p-2 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-200 focus:ring-teal focus:border-teal outline-teal" style="width: 200px" placeholder="Search" required="">
        </div>
      </form>
      <ul class="navbar">
        <li>
          <a href="#">
            <IconUser class="mr-2 w-5 h-5"/>
            Sign In
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-5 h-5" width="13" height="13" viewBox="0 0 13 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M6.49973 4.62512C6.12889 4.62512 5.76637 4.73509 5.45803 4.94112C5.14969 5.14714 4.90937 5.43998 4.76745 5.78259C4.62554 6.1252 4.58841 6.5022 4.66075 6.86591C4.7331 7.22963 4.91168 7.56372 5.1739 7.82595C5.43612 8.08817 5.77022 8.26675 6.13393 8.33909C6.49765 8.41144 6.87465 8.37431 7.21726 8.23239C7.55987 8.09048 7.8527 7.85016 8.05873 7.54181C8.26476 7.23347 8.37472 6.87096 8.37472 6.50012C8.37324 6.0033 8.17522 5.52724 7.82391 5.17593C7.4726 4.82463 6.99655 4.6266 6.49973 4.62512ZM10.5478 6.50012C10.5469 6.67532 10.534 6.85025 10.5094 7.02371L11.6506 7.91715C11.7003 7.95819 11.7338 8.01557 11.7451 8.07903C11.7564 8.14248 11.7447 8.20789 11.7122 8.26356L10.6327 10.1273C10.5999 10.1825 10.5487 10.2243 10.488 10.2454C10.4274 10.2666 10.3613 10.2657 10.3013 10.2429L8.95949 9.70379C8.68009 9.91894 8.37433 10.0975 8.04965 10.2351L7.84902 11.6596C7.83779 11.7235 7.80475 11.7814 7.75555 11.8235C7.70635 11.8657 7.64403 11.8894 7.57926 11.8907H5.4202C5.3566 11.8895 5.2953 11.8667 5.2463 11.8262C5.19731 11.7856 5.16351 11.7296 5.15043 11.6674L4.9498 10.2429C4.62423 10.1068 4.31825 9.92799 4.03996 9.71106L2.69817 10.2501C2.63819 10.2729 2.57208 10.2739 2.51146 10.2528C2.45085 10.2317 2.39961 10.1899 2.36676 10.1348L1.28723 8.27129C1.25473 8.21563 1.24309 8.15022 1.25438 8.08676C1.26568 8.0233 1.29917 7.96593 1.34887 7.92489L2.49004 7.03145C2.4657 6.85536 2.45286 6.67788 2.4516 6.50012C2.45258 6.32492 2.46542 6.14999 2.49004 5.97653L1.34887 5.08309C1.29917 5.04205 1.26568 4.98467 1.25438 4.92121C1.24309 4.85776 1.25473 4.79235 1.28723 4.73668L2.36676 2.87293C2.39958 2.81776 2.4508 2.77593 2.51141 2.75479C2.57203 2.73366 2.63816 2.73458 2.69817 2.75739L4.03996 3.29645C4.31936 3.0813 4.62512 2.90274 4.9498 2.76512L5.15043 1.34059C5.16166 1.27678 5.1947 1.21885 5.2439 1.1767C5.2931 1.13455 5.35542 1.1108 5.4202 1.1095H7.57926C7.64285 1.11073 7.70415 1.1335 7.75315 1.17406C7.80214 1.21463 7.83594 1.27061 7.84902 1.33286L8.04965 2.75739C8.37563 2.89332 8.68201 3.07216 8.96066 3.28918L10.3013 2.75012C10.3613 2.72729 10.4274 2.72634 10.488 2.74743C10.5486 2.76852 10.5998 2.8103 10.6327 2.86543L11.7122 4.72918C11.7447 4.78485 11.7564 4.85026 11.7451 4.91372C11.7338 4.97717 11.7003 5.03455 11.6506 5.07559L10.5094 5.96903C10.5337 6.14504 10.5466 6.32244 10.5478 6.50012Z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-5 h-5" width="13" height="13" viewBox="0 0 13 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8142 8.4992C10.7753 8.45233 10.7371 8.40545 10.6996 8.36022C10.184 7.73655 9.87201 7.36014 9.87201 5.5946C9.87201 4.68054 9.65334 3.93054 9.22232 3.36804C8.90451 2.95249 8.4749 2.63726 7.90865 2.40429C7.90136 2.40023 7.89486 2.39492 7.88943 2.38858C7.68576 1.70655 7.12842 1.24976 6.49982 1.24976C5.87123 1.24976 5.31412 1.70655 5.11045 2.38788C5.10501 2.39398 5.0986 2.39913 5.09146 2.40311C3.77006 2.9471 3.12787 3.99077 3.12787 5.59389C3.12787 7.36014 2.81639 7.73655 2.30029 8.35952C2.26279 8.40475 2.22459 8.45069 2.18568 8.4985C2.08519 8.6197 2.02151 8.76716 2.0022 8.92342C1.98288 9.07967 2.00874 9.2382 2.0767 9.38022C2.22131 9.68491 2.52951 9.87405 2.88131 9.87405H10.1209C10.4711 9.87405 10.7772 9.68514 10.9222 9.38186C10.9905 9.2398 11.0166 9.08115 10.9974 8.92471C10.9783 8.76827 10.9147 8.6206 10.8142 8.4992Z"/>
              <path d="M6.49974 11.75C6.83842 11.7497 7.17072 11.6578 7.46137 11.4839C7.75203 11.3101 7.99022 11.0608 8.15068 10.7626C8.15824 10.7483 8.16197 10.7323 8.16152 10.7161C8.16106 10.7 8.15644 10.6842 8.14809 10.6703C8.13974 10.6565 8.12795 10.645 8.11386 10.6371C8.09978 10.6292 8.08388 10.625 8.06771 10.625H4.93224C4.91605 10.6249 4.90013 10.6291 4.88601 10.637C4.8719 10.6449 4.86007 10.6564 4.85169 10.6702C4.84332 10.6841 4.83867 10.6999 4.8382 10.7161C4.83774 10.7322 4.84147 10.7483 4.84904 10.7626C5.00948 11.0608 5.24763 11.31 5.53825 11.4839C5.82886 11.6577 6.1611 11.7497 6.49974 11.75Z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </header>
</template>
<script>
import IconUser from "../Icons/IconUser.vue";
export default {
  components: {IconUser}
}
</script>
