<template>
  <div class="wrapper">
    <MySidebar/>

    <main id="content" class="px-8 pt-10 pb-10 flex-grow ml-72">

      <MyHeader/>

      <div class="pt-10">
        <RouterView/>
      </div>
    </main>

  </div>
</template>
<script>
import MySidebar from "../My/MySidebar.vue";
import MyHeader from "../My/MyHeader.vue";

export default {
  components: {MyHeader, MySidebar}
}
</script>
