<script setup>
import MyDropdown from "../components/My/MyDropdown.vue";
import MyDropdownItem from "../components/My/MyDropdownItem.vue";
import CardStatistic from "../components/Dashboard/CardStatistic.vue";
import DashboardActiveUsers from "../components/Dashboard/DashboardActiveUsers.vue";
import DashboardSalesOverview from "../components/Dashboard/DashboardSalesOverview.vue";
import ProjectTable from "../components/Project/ProjectTable.vue";
import OrderStepper from "../components/Order/OrderStepper.vue";

</script>

<template>
  <div>
    <div class="grid grid-cols-4 gap-6 mb-6">
      <CardStatistic v-for="n in 4" :key="n - 1"/>
    </div>

    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-7 box box-lg relative">
        <div class="flex justify-between">
          <div>
            <p class="text-gray-400 text-xs font-bold">Built by developers</p>
            <p class="text-gray-700 text-lg font-bold mt-1 mb-2">Purity UI Dashboard</p>
            <p class="text-gray-400 text-sm">From colors, cards, typography to complex elements, <br/>you will find the full documentation.</p>
          </div>
          <img class="rounded-xl" src="../assets/dashboard/image-1.jpg" alt="">
        </div>
        <a href="#" class="read-more">
          Read more
          <svg class="w-4 h-4 ml-1" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor">
            <path d="M6.28101 2.625L9.656 6L6.28101 9.375" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.18725 6.00024H2.34351" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
      <div class="col-span-5 box box-lg relative">
        <div class="flex flex-col">
          <div class="z-10 px-5 py-4 text-white">
            <p class="font-bold text-lg mb-2">Work with the Rockets</p>
            <p class="text-sm">
              Wealth creation is an evolutionarily recent positive-sum game. <br>
              It is all about who take the opportunity first.
            </p>
          </div>
          <div class="box-dashboard-bg">
            <img class="rounded-lg w-full h-full object-cover" src="../assets/dashboard/image-2.jpg" alt="">

            <a href="#" class="read-more text-white">
              Read more
              <svg class="w-4 h-4 ml-1" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor">
                <path d="M6.28101 2.625L9.656 6L6.28101 9.375" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.18725 6.00024H2.34351" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>

        </div>
      </div>
      <div class="col-span-5">
        <DashboardActiveUsers/>
      </div>
      <div class="col-span-7">
        <DashboardSalesOverview/>
      </div>
      <div class="col-span-8 box box-lg">
        <div class="flex justify-between">
          <div>
            <p class="font-bold text-lg mb-1">Projects</p>
            <div class="flex items-center">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="currentColor" class="text-green-300 h-4 w-4 mr-2">
                <path
                    d="M7.49976 1.40604C4.1397 1.40604 1.40601 4.13973 1.40601 7.49979C1.40601 10.8599 4.1397 13.5935 7.49976 13.5935C10.8598 13.5935 13.5935 10.8599 13.5935 7.49979C13.5935 4.13973 10.8598 1.40604 7.49976 1.40604ZM10.6711 5.45751L6.73364 10.145C6.69045 10.1965 6.63671 10.238 6.57605 10.2669C6.51539 10.2957 6.44924 10.3112 6.38208 10.3123H6.37417C6.30847 10.3123 6.2435 10.2984 6.18349 10.2717C6.12348 10.2449 6.06977 10.2059 6.02583 10.157L4.33833 8.28202C4.29547 8.23657 4.26214 8.183 4.24028 8.12448C4.21842 8.06595 4.20847 8.00365 4.21104 7.94123C4.2136 7.87881 4.22861 7.81753 4.2552 7.761C4.28178 7.70446 4.31939 7.65381 4.36583 7.61202C4.41227 7.57023 4.46659 7.53815 4.52561 7.51765C4.58462 7.49716 4.64714 7.48866 4.70948 7.49267C4.77183 7.49668 4.83274 7.51311 4.88864 7.541C4.94454 7.56889 4.99431 7.60767 5.03501 7.65507L6.36187 9.12928L9.95337 4.85458C10.0339 4.76144 10.1479 4.70374 10.2707 4.69396C10.3934 4.68418 10.5151 4.7231 10.6094 4.8023C10.7037 4.88151 10.763 4.99464 10.7746 5.11725C10.7861 5.23985 10.749 5.36208 10.6711 5.45751Z"/>
              </svg>
              <p class="text-gray-400">
                <span class="font-bold">30 done</span> this month
              </p>
            </div>
          </div>

          <MyDropdown position="bottom-right">
            <template #trigger>
              <button class="inline-flex items-center text-gray-400 outline-none" type="button">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="currentColor">
                  <g clip-path="url(#clip0_10_1394)">
                    <path d="M10.4998 7.16667C11.4165 7.16667 12.1665 6.41667 12.1665 5.5C12.1665 4.58333 11.4165 3.83333 10.4998 3.83333C9.58313 3.83333 8.83313 4.58333 8.83313 5.5C8.83313 6.41667 9.58313 7.16667 10.4998 7.16667ZM10.4998 8.83333C9.58313 8.83333 8.83313 9.58333 8.83313 10.5C8.83313 11.4167 9.58313 12.1667 10.4998 12.1667C11.4165 12.1667 12.1665 11.4167 12.1665 10.5C12.1665 9.58333 11.4165 8.83333 10.4998 8.83333ZM10.4998 13.8333C9.58313 13.8333 8.83313 14.5833 8.83313 15.5C8.83313 16.4167 9.58313 17.1667 10.4998 17.1667C11.4165 17.1667 12.1665 16.4167 12.1665 15.5C12.1665 14.5833 11.4165 13.8333 10.4998 13.8333Z"/>
                  </g>
                </svg>
              </button>
            </template>

            <MyDropdownItem to="/">Download CSV</MyDropdownItem>
            <MyDropdownItem to="/">Print</MyDropdownItem>
          </MyDropdown>
        </div>
        <ProjectTable/>
      </div>
      <div class="col-span-4 box box-lg">
        <div class="mb-4">
          <p class="font-bold text-lg mb-1">Orders overview</p>
          <p class="text-gray-400">
            <span class="font-bold text-green-400">30%</span> this month
          </p>
        </div>
        <OrderStepper/>
      </div>
    </div>
  </div>
</template>
