<template>
  <div class="box box-lg">
    <div class="flex items-start justify-between">
      <div>
        <p class="text-gray-400">Today's Money</p>
        <div class="flex items-end">
          <p class="text-xl text-gray-700 font-bold">$53,000</p>
          <p class="text-green-400 font-bold ml-2">+55%</p>
        </div>
      </div>
      <div class="bg-teal text-white p-4 rounded-xl">
        <IconWallet/>
      </div>
    </div>
  </div>
</template>
<script>
import IconWallet from "../Icons/IconWallet.vue";
export default {
  components: {IconWallet}
}
</script>
