<script setup>
import VueApexCharts from "vue3-apexcharts";

const areaSeries = [{
  name: 'series1',
  data: [31, 40, 28, 51, 42, 109, 100]
}, {
  name: 'series2',
  data: [11, 32, 45, 32, 34, 52, 41]
}]
const areaOptions = {
  chart: {
    height: 350,
    type: 'area'
  },
  colors: ["#2D3748", "#4FD1C5"],
  dataLabels: {
    enabled: false
  },
  stroke: {
    curve: 'smooth'
  },
  xaxis: {
    type: 'datetime',
    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
  },
  tooltip: {
    x: {
      format: 'dd/MM/yy HH:mm'
    },
  },
}

</script>

<template>
<div class="box box-lg">
  <p class="font-bold text-lg mb-1">Sales Overview</p>
  <p class="text-gray-400"><span class="font-bold text-green-400">(+5) more</span> in 2021</p>
  <div class="rounded-lg mt-4">
    <VueApexCharts type="area" height="350" :options="areaOptions" :series="areaSeries"></VueApexCharts>
  </div>
</div>
</template>
