<script setup>
import VueApexCharts from "vue3-apexcharts";
import IconWallet from "../Icons/IconWallet.vue";

const barSeries = [{
  name: 'Title',
  data: [420, 250, 460, 370, 200, 150, 300, 400, 423]
}]
const barOptions = {
  chart: {
    type: 'bar',
    height: 200,
    background: 'transparent',
    toolbar: {
      show: false,
    },
  },
  colors: ['#ffffff'],
  plotOptions: {
    bar: {
      horizontal: false,
      columnWidth: '20%',
      borderRadius: 5,
    },
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    show: true,
    width: 2,
    colors: ['transparent']
  },
  xaxis: {
    show: false,
    categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
    labels: {
      show: false,
    },
    axisBorder: {
      show: false,
    },
    axisTicks: {
      show: false,
    },
  },
  yaxis: {
    labels: {
      style: {
        colors: '#ffffff',
      },
    },
  },
  fill: {
    opacity: 1
  },
  grid: {
    show: false,
  },
}

</script>
<template>
  <div class="box box-lg">
    <div class="bg-gradient-to-r from-dark-blue to-dark rounded-lg p-4 mb-5">
      <VueApexCharts type="bar" height="200" :options="barOptions" :series="barSeries"></VueApexCharts>
    </div>

    <p class="font-bold text-lg mb-1">Active Users</p>
    <p class="text-gray-400"><span class="font-bold text-green-400">(+23)</span> than last week</p>

    <div class="grid grid-cols-4 mt-8 gap-6">
      <div class="flex flex-col items-start" v-for="n in 4" :key="n - 1">
        <div class="flex items-center">
          <div class="bg-teal p-2 rounded-lg">
            <IconWallet class="w-4 h-4 text-white"/>
          </div>
          <p class="text-gray-400 font-bold ml-4 text-sm">Users</p>
        </div>
        <p class="font-bold text-gray-700 text-lg my-3">32,984</p>
        <div class="progress">
          <div style="width: 45%"></div>
        </div>
      </div>
    </div>
  </div>
</template>
