@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

html, body {
  background-color: #F8F9FA;
}

.wrapper {
  display: flex;
}

.side {
  @apply overflow-y-auto overflow-x-hidden py-10 px-8 min-h-screen fixed left-0 top-0 bottom-0 w-72;
}

.side-item {
  @apply flex text-gray-400 font-bold items-center p-2 rounded-lg text-sm transition duration-150 ease-out;
}

.side-item {
  > span {
    @apply flex-1 ml-3 whitespace-nowrap
  }

  .side-icon {
    @apply p-2 bg-white text-teal rounded-xl transition duration-150 ease-out;
  }

  &:hover,
  &.active {
    @apply bg-white text-gray-700;
  }

  &:hover .side-icon,
  &.active .side-icon {
    @apply bg-teal text-white;
  }
}

.btn {
  @apply font-bold text-black text-sm rounded-lg w-full text-center py-2 px-4;

  &.btn-white {
    @apply bg-white text-gray-700;
  }
}

.navbar {
  @apply flex items-center rounded-lg md:space-x-1 text-sm;

  li a {
    @apply flex items-center font-bold text-gray-500 rounded md:hover:text-teal px-3 py-2;
  }
}

.box {
  @apply bg-white shadow-xl shadow-gray-100 rounded-xl px-4 py-3;

  &.box-lg {
    @apply px-6 py-5;
  }
}

.read-more {
  @apply flex items-center text-gray-700 font-bold text-sm absolute left-6 bottom-5;
}

.box-dashboard-bg {
  @apply absolute left-6 top-5 right-6 bottom-5;
  &::before {
    @apply absolute top-0 bottom-0 left-0 right-0 rounded-lg;
    content: '';
    background-image: linear-gradient(to bottom, rgba(21, 25, 40, 0.88), rgba(49, 56, 96, 0.16));
  }
}

.apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
  clip-path: inset(5% 5% 5% 0% round 8px);
}

.table {
  @apply w-full;
  th {
    @apply py-3 text-left text-xs font-bold text-gray-400 uppercase;
  }

  td {
    @apply py-4 text-gray-700 font-bold;
  }

  tbody, thead {
    > tr:first-child,
    > tr:not(:last-child) {
      @apply border-b border-gray-200;
    }
  }

  .table-icon {
    height: 20px;
    object-fit: cover;
  }
}

.stacked-avatar {
  @apply flex items-center -space-x-4;

  > img {
    @apply w-8 h-8 rounded-full border-2 border-white;
  }
}

.progress {
  @apply w-full bg-gray-200 rounded-full h-1;

  > div {
    @apply bg-teal h-1 rounded-full;
  }
}

.dropdown-item {
  @apply block py-2 px-4 hover:bg-gray-100 cursor-pointer;
}

.dropdown-menu {
  @apply absolute z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow;

  &.bottom-left {
    left: 0;
  }
  &.bottom-right {
    right: 0;
  }
  &.top-right {
    right: 0;
    top: -5px;
    transform: translateY(-100%);
  }
  &.top-left {
    right: 0;
    top: -5px;
    transform: translateY(-100%);
  }
}

.stepper {
  @apply relative flex flex-col gap-4;

  > div {
    @apply flex relative z-10;

    .stepper-icon {
      @apply mr-2 bg-white w-6 h-6 py-1;
    }

    &:not(:last-child) {
      .stepper-right {
        @apply pb-4
      }
    }
  }


  .stepper-left {
    @apply relative;

    &::before {
      @apply absolute left-2.5 top-0 w-1 bg-gray-200 bottom-0 top-6 rounded-full;
      content: '';
    }
  }
}

@tailwind utilities;
