<template>
  <svg width="15" height="15" viewBox="0 0 15 15" fill="currentColor">
    <path d="M9.74485 2.39181C9.17474 1.77628 8.37845 1.43732 7.49954 1.43732C6.61595 1.43732 5.81702 1.77423 5.24954 2.38595C4.67591 3.00441 4.39642 3.84493 4.46204 4.75255C4.59212 6.54317 5.95472 7.99981 7.49954 7.99981C9.04436 7.99981 10.4046 6.54347 10.5367 4.75314C10.6033 3.85372 10.322 3.01495 9.74485 2.39181Z"></path>
    <path d="M12.6559 14.5616H2.34343C2.20845 14.5634 2.07477 14.535 1.95213 14.4786C1.82949 14.4222 1.72096 14.3392 1.63444 14.2356C1.44402 14.0079 1.36726 13.6971 1.42409 13.3827C1.67136 12.0111 2.44304 10.8588 3.65593 10.0499C4.73347 9.33186 6.09841 8.93665 7.49968 8.93665C8.90095 8.93665 10.2659 9.33215 11.3434 10.0499C12.5563 10.8585 13.328 12.0108 13.5753 13.3824C13.6321 13.6968 13.5553 14.0076 13.3649 14.2353C13.2784 14.339 13.1699 14.422 13.0473 14.4785C12.9246 14.535 12.7909 14.5634 12.6559 14.5616Z"></path>
  </svg>
</template>
