<template>
  <svg width="15" height="15" viewBox="0 0 15 15" fill="currentColor">
    <path d="M7.66264 3.4676C7.61903 3.42588 7.56099 3.40259 7.50063 3.40259C7.44027 3.40259 7.38224 3.42588 7.33862 3.4676L1.94507 8.62004C1.92216 8.64195 1.90394 8.66828 1.8915 8.69744C1.87906 8.72659 1.87267 8.75797 1.87271 8.78967L1.87183 13.6254C1.87183 13.874 1.9706 14.1125 2.14641 14.2883C2.32223 14.4641 2.56069 14.5629 2.80933 14.5629H5.62475C5.74907 14.5629 5.8683 14.5135 5.95621 14.4256C6.04412 14.3377 6.0935 14.2185 6.0935 14.0942V10.1098C6.0935 10.0476 6.1182 9.98801 6.16215 9.94406C6.2061 9.9001 6.26572 9.87541 6.32788 9.87541H8.67163C8.73379 9.87541 8.7934 9.9001 8.83736 9.94406C8.88131 9.98801 8.906 10.0476 8.906 10.1098V14.0942C8.906 14.2185 8.95539 14.3377 9.0433 14.4256C9.1312 14.5135 9.25043 14.5629 9.37475 14.5629H12.189C12.4377 14.5629 12.6761 14.4641 12.8519 14.2883C13.0277 14.1125 13.1265 13.874 13.1265 13.6254V8.78967C13.1265 8.75797 13.1202 8.72659 13.1077 8.69744C13.0953 8.66828 13.0771 8.64195 13.0541 8.62004L7.66264 3.4676Z"/>
    <path d="M14.3821 7.65375L12.1907 5.55726V2.37592C12.1907 2.2516 12.1413 2.13237 12.0534 2.04446C11.9655 1.95655 11.8463 1.90717 11.722 1.90717H10.3157C10.1914 1.90717 10.0722 1.95655 9.98427 2.04446C9.89637 2.13237 9.84698 2.2516 9.84698 2.37592V3.31342L8.15011 1.69095C7.99132 1.53041 7.75518 1.43842 7.50001 1.43842C7.24571 1.43842 7.01016 1.53041 6.85138 1.69125L0.619933 7.65316C0.437706 7.82894 0.414855 8.1181 0.580675 8.30853C0.622315 8.3566 0.6733 8.39569 0.730528 8.42343C0.787756 8.45116 0.850029 8.46697 0.913558 8.46987C0.977087 8.47278 1.04054 8.46272 1.10006 8.44033C1.15958 8.41793 1.21392 8.38365 1.25978 8.33959L7.33888 2.5306C7.38249 2.48888 7.44053 2.46559 7.50089 2.46559C7.56125 2.46559 7.61928 2.48888 7.6629 2.5306L13.7426 8.33959C13.8321 8.42547 13.9521 8.47234 14.0762 8.46992C14.2002 8.46751 14.3183 8.416 14.4044 8.3267C14.5843 8.14037 14.5693 7.83275 14.3821 7.65375Z"/>
  </svg>
</template>
