<template>
  <svg width="15" height="15" viewBox="0 0 15 15" fill="currentColor">
    <path d="M0.937256 11.5153C0.937256 11.9504 1.11011 12.3677 1.41778 12.6754C1.72546 12.983 2.14276 13.1559 2.57788 13.1559H12.4216C12.8567 13.1559 13.274 12.983 13.5817 12.6754C13.8894 12.3677 14.0623 11.9504 14.0623 11.5153V7.00354H0.937256V11.5153ZM2.87085 9.2887C2.87085 9.0556 2.96345 8.83204 3.12827 8.66722C3.2931 8.50239 3.51665 8.40979 3.74975 8.40979H5.156C5.3891 8.40979 5.61266 8.50239 5.77749 8.66722C5.94231 8.83204 6.03491 9.0556 6.03491 9.2887V9.87463C6.03491 10.1077 5.94231 10.3313 5.77749 10.4961C5.61266 10.6609 5.3891 10.7535 5.156 10.7535H3.74975C3.51665 10.7535 3.2931 10.6609 3.12827 10.4961C2.96345 10.3313 2.87085 10.1077 2.87085 9.87463V9.2887Z"/>
    <path d="M12.4216 2.84302H2.57788C2.14276 2.84302 1.72546 3.01587 1.41778 3.32355C1.11011 3.63122 0.937256 4.04852 0.937256 4.48364V5.24536H14.0623V4.48364C14.0623 4.04852 13.8894 3.63122 13.5817 3.32355C13.274 3.01587 12.8567 2.84302 12.4216 2.84302V2.84302Z"/>
  </svg>
</template>
